In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [3]:
claimsdf = pd.read_csv('/home/julian/Cursos/Ironhack/Proyectos/ProyectoFinal/Claims-Frequency-Predicitons/claimsdf_1.csv')

##### REGION: Non ordinal,  22 CLASES, Que regiones?

In [24]:
claimsdf.Region.unique()

array(['R82', 'R22', 'R72', 'R31', 'R91', 'R52', 'R93', 'R11', 'R24',
       'R94', 'R83', 'R54', 'R26', 'R53', 'R73', 'R42', 'R25', 'R21',
       'R41', 'R43', 'R74', 'R23'], dtype=object)

In [25]:
dic_region = {'R11': 1, 'R21': 2, 'R22': 3, 'R23': 4, 'R24': 5, 'R25': 6, 'R26': 7, 
              'R31': 8, 'R41': 9, 'R42': 10, 'R43': 11, 'R52': 12, 'R53': 13, 'R54': 14,
              'R72': 15, 'R73': 16, 'R74': 17, 'R82': 18, 'R83': 19, 'R91': 20, 'R93': 21, 
              'R94': 22}

In [ ]:
dic_region = {'R11': 'Île_de_France', 'R21': 'Champagne_Ardenne', 'R22': 'Picardie', 'R23': 'Haute_Normandie', 
              'R24': 'Centre', 'R25': 'Basse_Normandie', 'R26': 'Bourgogne', 
              'R31': 'Nord_Pas-de-Calais', 'R41': 'Lorraine', 'R42': 'Alsace', 'R43': 'Franche_Comté', 
              'R52': 'Pays_de_la_Loire', 'R53': 'Bretagne', 'R54': 'Poitou_Charentes',
              'R72': 'Aquitaine', 'R73': 'Midi_Pyrénées', 'R74': 'Limousin', 'R82': 'Rhône_Alpes', 
              'R83': 'Auvergne',
              'R91': 'Languedoc_Roussillon', 'R93': 'Provence-Alpes_Côte d´Azur', 
              'R94': 'Corse'}

In [26]:
claimsdf.Region = claimsdf.Region.map(dic_region)

In [27]:
region = pd.DataFrame(claimsdf.Region.value_counts())
region

    Region
5   160601
18   84752
21   79315
1    69791
13   42122
12   38751
20   35805
15   31329
8    27285
14   19046
16   17141
9    12990
6    10893
7    10492
4     8784
3     7994
19    5287
17    4567
22    4516
2     3026
10    2200
11    1326

In [44]:
claimsdf.to_csv('claimsdf_1.csv', index = False)